    <div class="footer">
      <div class="container">
        <p class="pull-left"><a href="http://www.bootstrapstage.com">Found on Bootstrap Stage</a></p>
        <p class="pull-right"><a href="/contact"> <i class="icon-mail"></i> CONTACT</a></p>
      </div>
    </div>