    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="/"><img src="img/user.jpg" height="50"/></a>
          <ul class="nav nav-collapse pull-right">
            <li><a href="/"><i class="icon-user"></i> Profile</a></li>
            <li><a href="/skills"><i class="icon-trophy"></i> Skills</a></li>
            <li><a href="/work"><i class="icon-picture"></i> Work</a></li>
            <li><a href="/resume"><i class="icon-doc-text"></i> Resume</a></li>
             <li><a href="/contact"><i class="icon-doc-text"></i> Contact</a></li>
          </ul>
          <div class="nav-collapse collapse">
          </div>
        </div>
      </div>
    </div>