@page "/"

      <div id="profile" class="container">
        <div class="span3"> <img src="img/mini.png"> </div>
        <div class="span5">
          <h1>John Doe</h1>
          <h3>Fullstack .NET Developer</h3>
          <p> Hello I am John Doe. I am awesome...</p>
          <a href="#" class="hire-me"><i class="icon-paper-plane"></i> Hire Me </a>
          <div class="row social">
            <ul class="social-icons">
              <li><a href="#" target="_blank"><img src="img/fb.png" alt="facebook"></a></li>
              <li><a href="#" target="_blank"><img src="img/tw.png" alt="twitter"></a></li>
              <li><a href="#" target="_blank"><img src="img/go.png" alt="google plus"></a></li>
              <li><a href="#" target="_blank"><img src="img/pin.png" alt="pinterest"></a></li>
              <li><a href="#" target="_blank"><img src="img/st.png" alt="stumbleupon"></a></li>
              <li><a href="#" target="_blank"><img src="img/dr.png" alt="dribbble"></a></li>
            </ul>
          </div>
        </div>
      </div>