@page "/resume"

<div id="resume" class="container">
        <h2>My Resume</h2>
        <h3>You can download my resume for your reference and I hope that we will meet very soon! :)</h3>
        <div class="btn-center"> <a href="#" class="hire-me"><i class="icon-download"></i> Download Resume</a>
          <h2>125kb</h2>
        </div>
      </div>
      <div class="row social">
        <ul class="social-icons">
          <li><a href="#" target="_blank"><img src="img/fb.png" alt="facebook"></a></li>
          <li><a href="#" target="_blank"><img src="img/tw.png" alt="twitter"></a></li>
          <li><a href="#" target="_blank"><img src="img/go.png" alt="google plus"></a></li>
          <li><a href="#" target="_blank"><img src="img/pin.png" alt="pinterest"></a></li>
          <li><a href="#" target="_blank"><img src="img/st.png" alt="stumbleupon"></a></li>
          <li><a href="#" target="_blank"><img src="img/dr.png" alt="dribbble"></a></li>
        </ul>
</div>