@page "/skills"

      <div id="skills" class="container">
        <h2>My Skills</h2>
        <div class="row">
          <div class="span3">
            <div class="ps">
              <h3>Ps</h3>
            </div>
          </div>
          <div class="span5">
            <h3>Photoshop <span>90%</span></h3>
            <div class="expand-bg"> <span class="expand ps2"> &nbsp; </span> </div>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <div class="ai">
              <h3>Ai</h3>
            </div>
          </div>
          <div class="span5">
            <h3>Illustrator <span>80%</span></h3>
            <div class="expand-bg"> <span class="expand ai2"> &nbsp; </span> </div>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <div class="html">
              <h3>HTML5</h3>
            </div>
          </div>
          <div class="span5">
            <h3>HTML5 <span>75%</span></h3>
            <div class="expand-bg"> <span class="expand html2"> &nbsp; </span> </div>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <div class="css">
              <h3>CSS3</h3>
            </div>
          </div>
          <div class="span5">
            <h3>CSS3 <span>85%</span></h3>
            <div class="expand-bg"> <span class="expand css2"> &nbsp; </span> </div>
          </div>
        </div>
      </div>