     @page "/work"

      <div id="work" class="container">
        <h2>My Work</h2>
        <ul class="work-images">
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/1" title="Image 01"><img src="img/1-thumb.jpg" /></a></div>
          </li>
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/2"><img src="img/2-thumb.jpg" /></a></div>
          </li>
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/3"><img src="img/3-thumb.jpg" /></a></div>
          </li>
        </ul>
        <ul class="work-images">
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/4"><img src="img/4-thumb.jpg" /></a></div>
          </li>
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/4"><img src="img/5-thumb.jpg" /></a></div>
          </li>
          <li>
            <div><a class="fancybox-thumb" rel="fancybox-thumb" href="/single/4"><img src="img/6-thumb.jpg" /></a></div>
          </li>
        </ul>
      </div>